<!DOCTYPE html>
<html>
    {% block html %}
        <head>
            {% block head %}
                <meta charset="UTF-8">
                <title>{% block title %}Welcome!{% endblock %}</title>
                {% block stylesheets %}
                    {{ encore_entry_link_tags('app') }}
                {% endblock %}
            {% endblock head %}
        </head>
        <body>
            {% block body %}
                {% block body_content %}

                {% endblock body_content %}
                {% block javascripts %}
                    {{ encore_entry_script_tags('app') }}
                {% endblock %}
            {% endblock %}
        </body>
    {% endblock html %}
</html>
